h1{
    background-color:#FFF7CD;
    margin-top:4.5vh;
    padding:8.7px;
    border:2px solid black; /*Not sure if also in final version*/
    margin-left:7px;
    margin-right:30px;
    opacity:.8;
    width:98vw;
    text-align:left;
    border-radius:80px;
    font-family: Franklin Gothic, Myriad, sans-serif;
  }
  
  #header{
    opacity:1;
    color:black;
    padding:10px;
    font-size:8vmin;
    margin-left:25px;
    margin-right:30px;
  }
  
  body {
    background-image: url("https://marketplace.canva.com/EAFKttWmpG4/1/0/1600w/canva-ivory-minimal-moodboard-photo-collage-desktop-wallpaper-zMDrpEe9MwE.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2fafa;
    margin: auto auto auto auto;
  }
  
  img {
    float: none;
    vertical-align: middle;
    opacity: 0.8;
    transition: 0.3s;
    orphans: 2;
    widows: 2;
  }
  
  img:hover {opacity:1;}
  
  h2{
    text-decoration: underline;
    text-indent: 30px;
    text-shadow: 2px 2px 3px black;
  }
  
  p{
    text-indent: 30px;
    font-style: initial;
    font-variant: normal;
    text-shadow: 2px 2px 3px black;
  }
  
  p.intro{
    font: normal normal bold 13px/30px Verdana, serif;
  }
  
  ul{
    list-style-image: url('https://loading.io/s/icon/bi40d7.svg');
    list-style-position: outside;
    list-style-type: square;
  }
  
  ol{
    list-style: upper-roman outside;
  }
  
  table.album, th.album, td.album {
    border: 4px solid;
    float:none;
  }
  
  th.album{
    text-transform: capitalize;
    height:40px;
  }
  
  table.form {
    margin-top:8px;
    margin-bottom:8px;
    border:7px solid;
    width:80%;
    page-break-before: initial;
  }
  
  table.album {
    width: 80vw;
  }
  
  th, td {
    transition: 0.3s;
  }
  
  th.album:hover, td.album:hover {
    background-color: #bf8c60;
    color: white;
  }
  
  
  table {
    caption-side: top;
    background-color: #D29F71;
    margin-left: auto;
    margin-right: auto;
    border-radius:16px;
    margin-top:30px;
  }
  
  td {
    text-align: center;
  }
  
  caption{
    font-size:40px;
    border-radius:16px;
    margin-bottom:15px;
    padding:10px;
    background: rgba(144, 99, 59, 0.8)
  }
  
  input[type=text], input[type=url], textarea {
    box-sizing: border-box;
    border-width: 3px;
    border-color: #c19369;;
    border-radius: 6px;
    background-color: white;
    padding: 6px;
    opacity: 0.9;
    transition: 0.3s;
  }
  
  input[type=text]:hover, input[type=url]:hover, textarea:hover {
    opacity: 1
  }
  
  input[type=submit] {
    background-color: rgb(144, 99, 59, 0.8);
    border-radius: 6px;
    border-style: none;
    color: white;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
  }
  
  input[type=submit]:hover, input[type=submit]:focus {
    opacity: 0.75;
  }
  
  input[type=submit]:active{
    background-color: orange;
  }
  
  a:active{
    background-color: gray;
  }
  
  a:link {
    color: #111112;
  }
  
  a:visited {
    color: #ffffff;
    text-decoration-color: #f56262;
  }
  
  a:hover {
    color: white;
  }
  
  ul {
    text-align:left;
    list-style: georgian outside;
  }
  
  nav {
    padding:30px;
    width:96.6vw;
    background-color: #C1BDBA;
    color: #f2fafa;
    background: #C1BDBA;
    text-align: center;
    page-break-after: initial;
  } 
  
  @media print {
  
  .form, nav, h1, header, #intro {
    display:none;
  }
  
  }
  
  div.left-side{
    float:left;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2vmin;
      margin-top: 2vh;
      margin-left: 2px;
      margin-right: 10px;
    }
    #header {
      font-size: 6vmin;
      margin-left: 15px;
      margin-right: 20px;
    }
    img {
      float: none;
    }
    table.album, th.album, td.album {
      border: 2px solid;
    }
  }
  
  @media (max-width: 400px) {
    h1 {
      font-size: 1.5vmin;
    }
    #header {
      font-size: 5vmin;
    }
    table.album {
      width: 60vw;
    }
  }
  