h1{
  background-color:#576e94;
  margin-top:4.5vh;
  padding:8.7px;
  border:2px solid black;
  margin-left:7px;
  margin-right:30px;
  opacity:.8;
  width:98vw;
  text-align:left;
  border-radius:80px;
  font-family: Franklin Gothic, Myriad, sans-serif;
}

#header{
  opacity:1;
  color:#ebeff5;
  text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
  padding:10px;
  font-size:8vmin;
  margin-left:25px;
  margin-right:30px;
}

body {
  background-image: url("https://wallpapers.com/images/hd/minimal-aesthetic-sky-kwg0j1ud9l61v2yc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f2fafa;
  margin: auto auto auto auto;
}

.table-body{
display: grid;
grid-template-columns: auto auto;
background-color: #bacadb;
padding: 3px;
width: 100%;
}

.cell{
background-color: rgba(60, 76, 94, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 30px;
text-align: center;
}

img {
  float: none;
  vertical-align: middle;
  opacity: 0.8;
  transition: 0.3s;
  orphans: 2;
  widows: 2;
}

img:hover {opacity:1;}

.img-wrap {
position: relative;
display: inline-block;
}

.album-image {
vertical-align: bottom;
height: 400px;
}

.img-description-layer {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(60, 76, 94, 0.75);
color: white;
visibility: hidden;
opacity: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: opacity .3s, visibility .3s;
}

h2{
  text-decoration: underline;
  text-indent: 30px;
  text-shadow: 2px 2px 3px black;
}

p{
  text-indent: 30px;
  font-style: initial;
  font-variant: normal;
  text-shadow: 2px 2px 3px black;
  font-size: 15px;
}

.img-wrap:hover .img-description-layer {
visibility: visible;
opacity: 1;
}

.author-name{
  font-size: 1.4em;
}

.author-alt{
font-size: 0.9em;
transition: .3s;
transform: translateY(1em);
align-self: center;
text-align: center;
}

.img-tags {
font-size: .9em;
transition: .3s;
transform: translateY(1em);
text-align: center;
}


p.intro{
  font: normal normal bold 13px/30px Verdana, serif;
}

ol{
  list-style: upper-roman outside;
}

input[type=text], input[type=url], textarea {
  box-sizing: border-box;
  border-width: 3px;
  border-color: #222a33;
  border-radius: 6px;
  background-color: white;
  padding: 12px;
  opacity: 0.9;
  transition: 0.3s;
}

input[type=text]:hover, input[type=url]:hover, textarea:hover {
  opacity: 1
}

input[type=submit], button {
  background-color: #65778c;
  border-radius: 6px;
  border-style: none;
  color: white;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  padding: 9px 40px 8px;
  position: relative;
  text-align: center;
}

input[type=submit]:hover, input[type=submit]:focus, button:hover, button:focus {
  opacity: 0.75;
}

input[type=submit]:active, button:active{
  background-color: orange;
}

a:active{
  background-color: gray;
}

a:link {
  color: white;
}

a:visited {
  color: #ffffff;
  text-decoration-color: #f56262;
}

a:hover {
  color: white;
}

nav {
  padding:30px;
  width:96.6vw;
  color: #f2fafa;
  background: rgb(58, 66, 79);
  text-align: center;
  page-break-after: initial;
  margin-top: 25px;
} 

div.form{
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

div.figs{
float: left;
}

@media print {

form, nav, h1, header, .menu, .hamburger {
  display:none;
}

.table-body{
  padding: 0px;
}

h1, h2, p{
  text-shadow: none;
  color:black;
}

img {
  page-break-before: avoid;
  max-width: 300px;
  max-height: 300px;
}

h1, h2{
  page-break-after: avoid;
}
div.left-side{
  float:left;
}
}

@media (min-width: 800px) {
.table-body { 
  grid-template-columns: repeat(2, 1fr); 
}
h1, h2 {
  font-size: 10vmin;
}
#header {
  font-size: 60px;
  margin-left: 15px;
  margin-right: 20px;
}

h1 {
margin-top: 2vh;
padding: 4px;
margin-left: 3px;
margin-right: 15px;
border-radius: 40px;
}

h2{
  font-size: 25px;
}

h1, #header, p, h2 {
   text-align: center;
}

#album-image {
  float: none;
  width: 130%;
}
}

@media (max-width: 600px) {
h1, h2 {
  font-size: 10vmin;
}
#header {
  font-size: 10vmin;
  margin-left: 15px;
  margin-right: 20px;
}

.table-body { 
  grid-template-columns: repeat(1, 1fr); 
}

.cell{
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

h1 {
margin-top: 2vh;
padding: 4px;
margin-left: 3px;
margin-right: 15px;
  border-radius: 40px;
}

h1, #header, p, h2 {
   text-align: center;
}

#header, h2, p {
  text-shadow: none;
}

#album-image {
  float: none;
  width: 130%;
}

input[type=text], input[type=url], textarea, input[type=submit], button{
 padding: 18px;
}

.modal{
  min-height: 100%;
}

#add-author{
  font-size: 0.9em;
}

.btn-close{
  position: absolute;
  top: 40px;
  left: 30px;
}

#add-button{
  padding: 15px 40px;
  font-size: 1.2em;
}

#album-image{
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  float: none;
}

ul{
  columns: 3;
  -webkit-columns: 1;
  -moz-columns: 3;
  font-size: 0.8em;
}

div#filter-button{
  font-size: 16px;
  margin-left: 10px;
}

#reset-button{
  font-size: 0.9em;
}
}

@media (max-width: 400px) {
h1, p, h2 {
  font-size: 3vmin;
}

#header {
  font-size: 15vmin;
}

input[type=text], input[type=url], textarea {
  box-sizing: border-box;
  padding: 10px;
}

#add-button{
  padding: 30px 75px;
  font-size: 1.3em;
}
}

/*Hamburger menu starts here*/
.menuItem {
display: block;
margin: 2rem 4rem;
font-size: 1.8rem;
color: black;
text-decoration: none;
}

.menuItem:hover {
text-decoration: underline;
}

.hamburger {
position: fixed;
z-index: 100;
top: 1rem;
right: 1rem;
padding: 10px, 20px;
border: #131c2c 2px;
border-radius: 6px;
background: #212c40;
cursor: pointer;
}

.closeIcon {
display: none;
}

.menu {
position: fixed;
transform: translateY(-100%);
transition: transform 0.2s;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 99;
background: #576e94;
color: white;
list-style: none;
padding-top: 4rem;
}

.showMenu {
transform: translateY(0);
}
/*Hamburger menu ends here*/

/*Modal starts here*/
.modal {
display: flex;
flex-direction: column;
justify-content: center;
gap: 0.4rem;
padding: 1.3rem;
position: absolute;
z-index: 2;
top: 20%;
background-color: white;
border: 1px solid #ddd;
border-radius: 15px;
width: 600px;
height: 400px;
position: absolute;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color: #c8ddff;
}

.modal .flex {
display: flex;
align-items: center;
justify-content: space-between;
}

.modal input {
padding: 0.7rem 1rem;
border: 1px solid #ddd;
border-radius: 5px;
font-size: 0.9em;
}

.modal p {
font-size: 0.9rem;
color: #777;
margin: 0.4rem 0 0.2rem;
}

button {
cursor: pointer;
border: none;
font-weight: 600;
}

.btn {
display: inline-block;
padding: 0.8rem 1.4rem;
font-weight: 700;
background-color: black;
color: white;
border-radius: 5px;
text-align: center;
font-size: 1em;
}

.btn-open {
position: absolute;
bottom: 150px;
}

.btn-close {
transform: translate(10px, -20px);
padding: 0.5rem 0.7rem;
background: #eee;
border-radius: 50%;
background-color: #151516;
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(3px);
z-index: 1;
}

.hidden {
display: none;
}

#filter-button{
background-color: black;
padding: 10px;
border: #131c2c 2px;
border-radius: 6px;
background: #212c40;
float: left;
margin-left: 25px;
margin-bottom: 25px;
line-height: 1.2;
font-size: 22px;
}

li#filter-gallery{
 display: inline;
 padding: 25px;
}

ul#filter-container > li#filter-list {
  display: inline-block;
  margin: 10px;
}

#submitForm{
text-align: center;
display: inline-block;
}

#add-author{
color: black;
text-decoration: underline;
text-indent: 30px;
text-shadow: none;
}

#add-button{
padding: 10px 30px;
font-size: 1.1em;
}
